doctype html
html
  head
    meta(charset="utf-8")
    title gulp-rev-sample
    link(rel='shortcut icon', href='assets/favicon.ico')
    link(rel='stylesheet', href='assets/app.css')
  body

    script(src='assets/app.js')
